<div class="container mx-auto px-5">
  <form
    [formGroup]="postFg"
    class="flex flex-col items-justify-center py-4"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="Enter title..." />
      @if(postFgControls.title.hasError('required') &&
      postFgControls.title.touched) {
      <mat-error> Title is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Post</mat-label>
      <textarea
        formControlName="content"
        matInput
        rows="8"
        placeholder="Enter you post content..."
      ></textarea>
      @if(postFgControls.content.hasError('required') &&
      postFgControls.content.touched) {
      <mat-error> Post is required </mat-error>
      }
    </mat-form-field>
    <div class="flex justify-end">
      <button
        type="submit"
        class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 cursor-pointer disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-white disabled:hover:text-gray-900 dark:disabled:hover:bg-gray-800 dark:disabled:hover:text-gray-400"
        [disabled]="postFg.invalid"
      >
        {{ postFgControls.id.value ? "Update" : "Create" }}
      </button>
    </div>

    <!-- expasion panel list -->
    <div class="">
      <span class="font-semibold text-gray-900 text-lg py-3">Posts</span>
      <mat-accordion>
        @for (item of postsList(); track item) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ item.title }} </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ item.content }}</p>
          <mat-action-row>
            <button
              (click)="onEditPost(item)"
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 cursor-pointer"
            >
              EDIT
            </button>
            <button
              (click)="onDeletePost(item)"
              type="button"
              class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 cursor-pointer"
            >
              DELETE
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        } @empty {
        <div class="text-sm italic text-gray-500 py-4">No Posts</div>
        }
      </mat-accordion>
    </div>
  </form>
</div>
